@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10% 20px 10%;
    background-color: black;
    color: #fff;
}

nav a {
    display: inline-block;
    transition: transform 0.3s ease;
}

nav a:hover {
    transform: scale(1.1);
}

.black-section {
    background-color: black;
    color: #fff;
}

footer {
    background-color: black;
    color: #fff;
}

footer .black-section {
    display: flex;
    padding: 50px 10% 50px 10%;
    justify-content: space-between;
}

a {
    color: #fff;
    text-decoration: none;
    padding-left: 1rem;
}

#about {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 30px;
    width: 70%;
    justify-content: center;
}

#about p {
    max-width: 400px;
}

#showcase {
    height: 25rem;
}

#products {
    height: 15rem;
}

#differences {
    height: 30rem;
}

button{
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    background-color: rgb(83, 118, 194);
    border-radius: 10px;
    color: #fff;
    border: none;
}

button {
    letter-spacing: 0;
    transition: letter-spacing 0.3s ease;
}

button:hover {
    letter-spacing: 1px;
}

#product {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    color: #2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

image

.product-name{
    font-weight: 600;
    margin-top: 0.4rem;
}

.rate{
    color: #0084ff;
    font-size: 1.3rem;
}

.price {
    font-weight: 600;
}