@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

main {
    flex: 1;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #dadada;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #dfdfdf;
    z-index: 101;
    position: fixed;
    width: 100%;
    top: 0;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    display: inline-block;
    transition: transform 0.3s ease;
}

nav a:hover {
    transform: scale(1.1);
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

.login-btn {
    color: white;
    font-size: 1rem;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}

/* menu hamburger tela pequena */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .login-btn {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}

.black-section {
    background-color: black;
    color: #fff;
}

footer {
    background-color: black;
    color: #fff;
}

footer .black-section {
    display: flex;
    padding: 50px 20% 50px 20%;
    justify-content: space-between;
}

a {
    color: #fff;
    text-decoration: none;
    padding-left: 1rem;
}


#about {
    display: flex;
    margin: 50px auto;
    padding: 0 20px;
    align-items: center;
    gap: 30px;
    width: 70%;
    justify-content: center;
}

#about p {
    max-width: 400px;
}

#about img {
    width: 500px;
    max-width: 100%;
}

@media (max-width: 900px) {
    #about {
        flex-direction: column;
        text-align: center;
        width: 90%;
        padding: 20px;
    }

    #about img {
        width: 100%;
    }

    #about p {
        max-width: 100%;
    }
}

#showcase {
    display: grid;
    padding-top: 20px;
    padding-bottom: 20px;
     grid-template-columns: repeat(3, 310px); 
    justify-content: center; 
    align-items: center;
    gap: 25px;
    min-height: 200px;
}

#showcase img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 10px;
    border-radius: 10px;
}

@media (max-width: 900px) {
    #showcase {
        grid-template-columns: repeat(1, 280px);
    }
}

@media (max-width: 600px) {
    #showcase {
        grid-template-columns: 1fr;
        padding-top: 50px;
        padding-bottom: 50px;
    }

      #showcase img {
        max-width: 280px;
        margin: 0 auto; 
    }
}

button,
.btn {
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    background-color: rgb(83, 118, 194);
    border-radius: 10px;
    color: #fff;
    border: none;
}

button,
.btn {
    letter-spacing: 0;
    transition: letter-spacing 0.3s ease;
}

.btn {
    text-align: center;
}

button:hover {
    letter-spacing: 1px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    gap: 25px;
    padding: 20px 10%;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    color: #2c2c2c;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    background-color: #e7e7e7;
    flex-direction: column;
    transition: all 0.3s ease;
}


.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.image-product {
    padding: 10px;
    border-radius: 10px;
}


.product-name {
    font-weight: 600;
    margin-top: 0.4rem;
}

.rate {
    color: #0084ff;
    font-size: 1.0rem;
}

.price {
    font-weight: 600;
}

.titule {
    display: flex;
    padding: 50px;
    justify-content: center;
}

#senai {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#senai img {
    width: 120px;
    max-width: 100%;
}

#email {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 55px;
    right: 0;
    right: 0;
    width: 30%;
    background-color: #333;
    z-index: 100;
    height: 100vh;
    overflow: auto;
    transition: all 0.3s ease;
}

.modal.active {
    display: block;
}

.modal-links a {
    display: block;
    text-decoration: none;
}

.modal-links a {
    padding: 10px;
}

.github-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.github-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.github-links a:hover {
    color: #4d79a1;
}

@media (max-width: 768px) {
    footer .black-section {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
    }

    #senai,
    #email,
    .github-links {
        margin: 10px 0;
    }
}

#differences {
    padding: 0 20px 80px 40px;
    text-align: center;
}

.dif-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.dif-card {
    background: #111;
    color: #dfdfdf;
    padding: 25px;
    border-radius: 10px;
    width: 250px;
    transition: 0.3s;
}

.dif-card i {
    font-size: 30px;
    margin-bottom: 10px;
}

.dif-card:hover {
    transform: translateY(-5px);
    background: #1a1a1a;
}

#product-view {
    margin-top: 100px;
    padding: 40px 25%;
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background-color: #e7e7e7;
    padding: 20px;
    border-radius: 15px;
}

#quantidade{
    padding-top: 20px;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #2c2c2c;
}

.product-title {
    font-size: 2rem;
    font-weight: bold;
}

.description {
    line-height: 1.5;
    color: #444;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity button {
    padding: 5px 12px;
    font-size: 1.2rem;
    background-color: #5376c2;
    border-radius: 8px;
}

.quantity span {
    font-size: 1.2rem;
    font-weight: bold;
}

.actions {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.buy {
    background-color: #004aad;
    flex: 1;
}

.cart {
    background-color: transparent;
    border: 2px solid #004aad;
    color: #004aad;
    flex: 1;
}

.cart:hover {
    background-color: #004aad;
    color: white;
}

@media (max-width: 900px) {
    .product-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .product-image img {
        max-width: 300px;
        margin: 0 auto;
    }

    .actions {
        flex-direction: column;
    }
}